<div class="jumbotron">
     <h1 class="text-center">Bem vindo ao ContatooJS</h1>
</div>

<p ng-show="mensagem.texto" ng-bind="mensagem.texto"></p>

<a ng-href="#/contato" class="btn btn-primary">Novo Contato</a>

<input type="search" class="form-control" placeholder="Parte do nome" ng-model="filtro" >

<p ng-show="contatos.length" class="alert alert-info">Contatos cadastrados: <span ng-bind="contatos.length"></span></p>

<p class="alert alert-danger" ng-hide="contatos.length">Não há contatos cadastrados</p>

<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>NOME</th>
            <th>E-MAIL</th>
            <th class="text-center">Ação</th>
        </tr>
        <tr ng-repeat="contato in contatos | filter: filtro">
            <td><a ng-href="#/contato/{{contato._id}}" ng-bind="contato.nome"></a></td>
            <td>{{contato.email}}</td>
            <td class="text-center">
                <button ng-click="remove(contato)" class="btn btn-warning">Remover</button>
            </td>
        </tr>
    </table>
</div>